{% extends "base.html.twig" %}

{% block title %}
    Edit the Movie
{% endblock %}

{% block body %}
    <h1>Edit the Movie</h1>
    <a href="/movies" class="bg-amber-300 p-2">Back</a>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="bg-green-700 p-2">Save changes</button>
    {{ form_end(form) }}
{% endblock %}
