{% extends "base.html.twig" %}

{% block title %}
    All Movies
{% endblock %}

{% block body %}
    <h1>All Movies</h1>
    {% if app.user %}
        <a href="/movies/create" class="bg-blue-400 p-2">Create</a>
    {% endif %}
    {% for movie in movies %}
        <li><a href="/movies/{{ movie.id }}">{{ movie.title }}</a></li>
    {% endfor %}
{% endblock %}
