{% extends "base.html.twig" %}

{% block title %}
    One Movie
{% endblock %}

{% block body %}
    <h1>One Movie</h1>
    <a href="/movies">Back</a>
    <p>Title: {{ movie.title }}</p>
    <p>Release Year: {{ movie.releaseYear }}</p>
    <p>Description: { movie.description }}</p>
    <img src="{{ movie.imagePath }}" alt="">
{% endblock %}
